In [63]:
import os
import pandas as pd
from sqlalchemy import create_engine

SERVER_BD = "localhost\\SQLEXPRESS"
DATABASE = "AdventureWorks2022"

## 2.1. Agregación de columnas y filtrado

### <b>1. Seleccionar todos los dinosaurios en un solo DataFrame</b>

In [64]:
#conectar a Dinosaurs.csv
df_dinos = pd.read_csv("C:\\Users\\miguel.fuentes.vale\\Documents\\Apuntes_MongoDB\\dinosaur.csv", delimiter=",")

print(df_dinos.head(10))

            Name             Period       Diet        Country
0       Aardonyx           Jurassic  herbivore   South Africa
1    Abelisaurus  Cretaceous         carnivore  South America
2  Abrictosaurus           Jurassic  herbivore   South Africa
3     Abrosaurus           Jurassic  herbivore          China
4    Abydosaurus         Cretaceous  herbivore  North America
5  Acanthopholis         Cretaceous  herbivore        England
6  Achelousaurus         Cretaceous  herbivore  North America
7   Acheroraptor         Cretaceous  carnivore  North America
8  Achillesaurus         Cretaceous  carnivore  South America
9   Achillobator         Cretaceous  carnivore       Mongolia

### <b>2. Agregar una columna con IDs únicos para cada dinosaurio en la lista</b>

In [65]:
df_dinos["ID"] = df_dinos["Name"].index

print(df_dinos["ID"].dtype) # comprobar que el tipo de dato de la columna ID es int
print(df_dinos)

int64
                Name             Period       Diet        Country    ID
0           Aardonyx           Jurassic  herbivore   South Africa     0
1        Abelisaurus  Cretaceous         carnivore  South America     1
2      Abrictosaurus           Jurassic  herbivore   South Africa     2
3         Abrosaurus           Jurassic  herbivore          China     3
4        Abydosaurus         Cretaceous  herbivore  North America     4
...              ...                ...        ...            ...   ...
1149  Zizhongosaurus           Jurassic  herbivore          China  1149
1150    Zuniceratops         Cretaceous  herbivore  North America  1150
1151         Zuolong           Jurassic  carnivore          China  1151
1152     Zupaysaurus           Triassic  carnivore  South America  1152
1153            Zuul         Cretaceous  herbivore  North America  1153

[1154 rows x 5 columns]

### <b>2.1. exportar a SQL Server (nombre de tabla libre)</b>

In [71]:
# Hacer la conexión, y guardar la nueva tabla
conn = create_engine(f"mssql+pyodbc:///?odbc_connect=DRIVER=ODBC+Driver+17+for+SQL+Server;SERVER={SERVER_BD};DATABASE={DATABASE};Trusted_Connection=yes")
df_dinos.to_sql("DINOSAURIOS_py", conn)

107

### <b>3. A partir del DataFrame resultante, mostrar por pantalla sólo aquellos dinosaurios con ID múltiplo de 10</b>

In [73]:
df_mult_10 = df_dinos.query("ID % 10 == 0")
print(df_mult_10.head(20))

              Name           Period         Diet        Country   ID
0         Aardonyx         Jurassic    herbivore   South Africa    0
10      Acristavus       Cretaceous    herbivore  North America   10
20      Aepisaurus       Cretaceous    herbivore         France   20
30    Airakoraptor       Cretaceous    carnivore       Mongolia   30
40       Albinykus       Cretaceous    carnivore       Mongolia   40
50        Alocodon         Jurassic  (herbivore)       Portugal   50
60    Amphicoelias         Jurassic    herbivore  North America   60
70      Andesaurus       Cretaceous    herbivore  South America   70
80   Antarctopelta  Late Cretaceous    herbivore     Antarctica   80
90    Aquilarhinus       Cretaceous    herbivore  North America   90
100    Arenysaurus       Cretaceous    herbivore          Spain  100
110       Astrodon       Cretaceous    herbivore  North America  110
120     Aucasaurus       Cretaceous    carnivore  South America  120
130   Aviatyrannis         Jurassic    carnivore       Portugal  130
140  Balochisaurus       Cretaceous    herbivore       Pakistan  140
150   Batyrosaurus       Cretaceous    herbivore     Kazakhstan  150
160    Bienosaurus         Jurassic    herbivore          China  160
170  Borealosaurus       Cretaceous    herbivore          China  170
180  Bravoceratops       Cretaceous    herbivore  North America  180
190   Calamosaurus       Cretaceous    carnivore        England  190

### <b>4. Ordenar los resultados de manera ascendente por periodo (Period)</b>

In [99]:
df_mult_10 = df_mult_10.sort_values("Period", ascending=True)
print(df_mult_10.head(20))

                  Name      Period                Diet  \
1150      Zuniceratops  Cretaceous           herbivore
850       Quilmesaurus  Cretaceous           carnivore
1140     Zephyrosaurus  Cretaceous           herbivore
400       Futabasaurus  Cretaceous           carnivore
540      Kelmayisaurus  Cretaceous           carnivore
880       Sanchusaurus  Cretaceous           herbivore
520      Jiangxisaurus  Cretaceous            omnivore
510       Iuticosaurus  Cretaceous           herbivore
840    Pycnonemosaurus  Cretaceous           carnivore
860        Regnosaurus  Cretaceous           herbivore
910          Sellacoxa  Cretaceous           herbivore
930   Sigilmassasaurus  Cretaceous           carnivore
460               Haya  Cretaceous  herbivore/omnivore
940   Sinornithosaurus  Cretaceous           carnivore
440        Goyocephale  Cretaceous  herbivore/omnivore
430         Gobiraptor  Cretaceous          omnivorous
420      Gigantoraptor  Cretaceous            omnivore
890        Saurolophus  Cretaceous           herbivore
550      Koreaceratops  Cretaceous           herbivore
790      Peishansaurus  Cretaceous           herbivore

                            Country    ID
1150                  North America  1150
850                   South America   850
1140                  North America  1140
400                           Japan   400
540                           China   540
880                           Japan   880
520                           China   520
510                         England   510
840                   South America   840
860                         England   860
910                         England   910
930                         Morocco   930
460                        Mongolia   460
940                           China   940
440                        Mongolia   440
430                        Mongolia   430
420                           China   420
890   Mongolia, USA, Canada & China   890
550                     South Korea   550
790                           China   790

## 2.2. Agrupación y funciones de agregación

### <b>1. Encontrar la cantidad de dinosaurios por tipo de alimentación (Diet)</b>

In [159]:
#En SQL, se haría groupby y COUNT sobre la columna ID/Name(la que tenga valores únicos)
df_dinos_group = df_dinos[["ID", "Diet"]].groupby("Diet", as_index=False).agg( # Usamos "as_index=False" para poder seleccionar la columna aggregada más tarde
    n_dinos=pd.NamedAgg("ID", aggfunc="count")
)

print(df_dinos_group.head(10))

                    Diet  n_dinos
0            (carnivore)        3
1            (herbivore)        1
2              (unknown)        7
3                      ?        2
4              Carnivore        4
5              Herbivore        2
6              carnivore      340
7  carnivore/insectivore        1
8     carnivore/omnivore        4
9             carnivore?        3

### <b>2. A partir de este resultado, elimina los paréntesis y coloca la primera letra de cada dieta (Diet) en mayúscula</b>

In [162]:
# Realizamos una copia para evitar perder la info del DF original
df_dinos_group2 = df_dinos_group.copy(deep=True)

# Eliminar los paréntesis usando el método apply() de pandas ;; Se puede hacer mayúscula la primera letra con capitalize()
df_dinos_group2["Diet"] = df_dinos_group2["Diet"].apply(lambda x: x[1:-1] if (x.startswith("(")) else x)
df_dinos_group2["Diet"] = df_dinos_group2["Diet"].str.capitalize()
# Se vuelve a agrupar, si usáramos drop_duplicates() perderíamos la info. de "n_dinos"
df_dinos_group2 = df_dinos_group2.groupby("Diet", as_index=False).agg(
    n_dinos=pd.NamedAgg("n_dinos", aggfunc="count")
)

print(df_dinos_group2)

                     Diet  n_dinos
0                       ?        1
1               Carnivore        3
2   Carnivore/insectivore        1
3      Carnivore/omnivore        1
4              Carnivore?        1
5               Herbivore        3
6      Herbivore/omnivore        1
7             Insectivore        1
8                Omnivore        1
9              Omnivorous        1
10                Unknown        2

### <b>3.Ordenar los resultados por tipo de alimentación</b>

In [165]:
df_dinos_group2 = df_dinos_group2.sort_values("Diet")
print(df_dinos_group2)

                     Diet  n_dinos
0                       ?        1
1               Carnivore        3
2   Carnivore/insectivore        1
3      Carnivore/omnivore        1
4              Carnivore?        1
5               Herbivore        3
6      Herbivore/omnivore        1
7             Insectivore        1
8                Omnivore        1
9              Omnivorous        1
10                Unknown        2

### <b>4- Hacer el equivalente a un UNION (sin duplicados) con el dataset(CSV) ó tabla original</b>

In [172]:
#Primero, vamos a obtener ambos dataframes a los que hacer UNION
df1 = df_dinos #el original, con IDs
df2 = df_dinos_group2

# Ahora, usaremos el método CONCAT de pandas para realizar el equivalente a UNION en SQL
df1_df2_union = pd.concat([df1, df2], ignore_index=True).drop_duplicates()
print(df1_df2_union.tail(40))

                  Name      Period                   Diet  \
1125      Yizhousaurus    Jurassic              herbivore
1126      Yongjinglong  Cretaceous              herbivore
1127     Yuanmousaurus    Jurassic              herbivore
1128        Yueosaurus  Cretaceous              herbivore
1129            Yulong  Cretaceous               omnivore
1130       Yunganglong  Cretaceous              herbivore
1131     Yunnanosaurus    Jurassic              herbivore
1132    Yunxianosaurus  Cretaceous              herbivore
1133       Yurgovuchia  Cretaceous              carnivore
1134        Yutyrannus  Cretaceous              carnivore
1135          Zalmoxes  Cretaceous              herbivore
1136         Zanabazar  Cretaceous              carnivore
1137      Zapalasaurus  Cretaceous              herbivore
1138          Zapsalis  Cretaceous              carnivore
1139               Zby    Jurassic              herbivore
1140     Zephyrosaurus  Cretaceous              herbivore
1141     Zhanghenglong  Cretaceous              herbivore
1142   Zhejiangosaurus  Cretaceous              herbivore
1143        Zhongornis  Cretaceous              (unknown)
1144   Zhongyuansaurus  Cretaceous              herbivore
1145  Zhuchengceratops  Cretaceous              herbivore
1146  Zhuchengtyrannus  Cretaceous              carnivore
1147          Ziapelta  Cretaceous              herbivore
1148     Zigongosaurus    Jurassic              herbivore
1149    Zizhongosaurus    Jurassic              herbivore
1150      Zuniceratops  Cretaceous              herbivore
1151           Zuolong    Jurassic              carnivore
1152       Zupaysaurus    Triassic              carnivore
1153              Zuul  Cretaceous              herbivore
1154               NaN         NaN                      ?
1155               NaN         NaN              Carnivore
1156               NaN         NaN  Carnivore/insectivore
1157               NaN         NaN     Carnivore/omnivore
1158               NaN         NaN             Carnivore?
1159               NaN         NaN              Herbivore
1160               NaN         NaN     Herbivore/omnivore
1161               NaN         NaN            Insectivore
1162               NaN         NaN               Omnivore
1163               NaN         NaN             Omnivorous
1164               NaN         NaN                Unknown

                                                Country      ID  n_dinos
1125  This name was a nomen nudum for eight years an...  1125.0      NaN
1126                             A very large sauropod.  1126.0      NaN
1127                         A mamenchisaurid sauropod.  1127.0      NaN
1128               Probably a relative of Jeholosaurus.  1128.0      NaN
1129                            A small oviraptorosaur.  1129.0      NaN
1130                                    A hadrosauroid.  1130.0      NaN
1131                            A basal sauropodomorph.  1131.0      NaN
1132                             Possibly a titanosaur.  1132.0      NaN
1133                                      North America  1133.0      NaN
1134                                              China  1134.0      NaN
1135                                            Romania  1135.0      NaN
1136                                           Mongolia  1136.0      NaN
1137                                      South America  1137.0      NaN
1138                                      North America  1138.0      NaN
1139                                           Portugal  1139.0      NaN
1140                                      North America  1140.0      NaN
1141                                              China  1141.0      NaN
1142                                              China  1142.0      NaN
1143                                              China  1143.0      NaN
1144                                              China  1144.0      NaN
1145                                              China  1145.0      NaN
1146                                              China  1146.0      NaN
1147                                      North America  1147.0      NaN
1148                                              China  1148.0      NaN
1149                                              China  1149.0      NaN
1150                                      North America  1150.0      NaN
1151                                              China  1151.0      NaN
1152                                      South America  1152.0      NaN
1153                                      North America  1153.0      NaN
1154                                                NaN     NaN      1.0
1155                                                NaN     NaN      3.0
1156                                                NaN     NaN      1.0
1157                                                NaN     NaN      1.0
1158                                                NaN     NaN      1.0
1159                                                NaN     NaN      3.0
1160                                                NaN     NaN      1.0
1161                                                NaN     NaN      1.0
1162                                                NaN     NaN      1.0
1163                                                NaN     NaN      1.0
1164                                                NaN     NaN      2.0

### <b>5- Si hacemos un tail() al DF original (o al resultante), nos daremos cuenta de que hay algunos datos en la columna Country que no tienen que ver con el país/origen de los dinosaurios. Pasa aquellos valores que cumplan estas condiciones a una nueva columna llamada Descripcion.</b>
PISTA: usa la función de python split() para lograrlo

In [202]:
print("Tail 30:")
print(df_dinos.tail(10))

#Hacer una copia, y pasar los valores de "Country" que sean descripciones a una columna "Descripcion"
df_descrips = df_dinos.copy(deep=True)
df_descrips["Descripcion"] = df_descrips["Country"].apply(lambda x: x if (len(x.split(" ")) >= 3) else "Dinosaurio")

# Quitar los valores de Country que tengan una "descripcion"
df_descrips["Country"] = df_descrips["Country"].apply(lambda x: x if (len(x.split(" ")) <= 2) else "Origen desconocido")

print("Resultado:")
print(df_descrips.tail(30))

Tail 30:
                  Name      Period       Diet        Country    ID
1144   Zhongyuansaurus  Cretaceous  herbivore          China  1144
1145  Zhuchengceratops  Cretaceous  herbivore          China  1145
1146  Zhuchengtyrannus  Cretaceous  carnivore          China  1146
1147          Ziapelta  Cretaceous  herbivore  North America  1147
1148     Zigongosaurus    Jurassic  herbivore          China  1148
1149    Zizhongosaurus    Jurassic  herbivore          China  1149
1150      Zuniceratops  Cretaceous  herbivore  North America  1150
1151           Zuolong    Jurassic  carnivore          China  1151
1152       Zupaysaurus    Triassic  carnivore  South America  1152
1153              Zuul  Cretaceous  herbivore  North America  1153
Resultado:
                  Name      Period       Diet             Country    ID  \
1124     Yixianosaurus  Cretaceous  carnivore  Origen desconocido  1124
1125      Yizhousaurus    Jurassic  herbivore  Origen desconocido  1125
1126      Yongjinglong  Cretaceous  herbivore  Origen desconocido  1126
1127     Yuanmousaurus    Jurassic  herbivore  Origen desconocido  1127
1128        Yueosaurus  Cretaceous  herbivore  Origen desconocido  1128
1129            Yulong  Cretaceous   omnivore  Origen desconocido  1129
1130       Yunganglong  Cretaceous  herbivore     A hadrosauroid.  1130
1131     Yunnanosaurus    Jurassic  herbivore  Origen desconocido  1131
1132    Yunxianosaurus  Cretaceous  herbivore  Origen desconocido  1132
1133       Yurgovuchia  Cretaceous  carnivore       North America  1133
1134        Yutyrannus  Cretaceous  carnivore               China  1134
1135          Zalmoxes  Cretaceous  herbivore             Romania  1135
1136         Zanabazar  Cretaceous  carnivore            Mongolia  1136
1137      Zapalasaurus  Cretaceous  herbivore       South America  1137
1138          Zapsalis  Cretaceous  carnivore       North America  1138
1139               Zby    Jurassic  herbivore            Portugal  1139
1140     Zephyrosaurus  Cretaceous  herbivore       North America  1140
1141     Zhanghenglong  Cretaceous  herbivore               China  1141
1142   Zhejiangosaurus  Cretaceous  herbivore               China  1142
1143        Zhongornis  Cretaceous  (unknown)               China  1143
1144   Zhongyuansaurus  Cretaceous  herbivore               China  1144
1145  Zhuchengceratops  Cretaceous  herbivore               China  1145
1146  Zhuchengtyrannus  Cretaceous  carnivore               China  1146
1147          Ziapelta  Cretaceous  herbivore       North America  1147
1148     Zigongosaurus    Jurassic  herbivore               China  1148
1149    Zizhongosaurus    Jurassic  herbivore               China  1149
1150      Zuniceratops  Cretaceous  herbivore       North America  1150
1151           Zuolong    Jurassic  carnivore               China  1151
1152       Zupaysaurus    Triassic  carnivore       South America  1152
1153              Zuul  Cretaceous  herbivore       North America  1153

                                            Descripcion
1124  The only anchiornithid to live in the Cretaceous.
1125  This name was a nomen nudum for eight years an...
1126                             A very large sauropod.
1127                         A mamenchisaurid sauropod.
1128               Probably a relative of Jeholosaurus.
1129                            A small oviraptorosaur.
1130                                         Dinosaurio
1131                            A basal sauropodomorph.
1132                             Possibly a titanosaur.
1133                                         Dinosaurio
1134                                         Dinosaurio
1135                                         Dinosaurio
1136                                         Dinosaurio
1137                                         Dinosaurio
1138                                         Dinosaurio
1139                                         Dinosaurio
1140                                         Dinosaurio
1141                                         Dinosaurio
1142                                         Dinosaurio
1143                                         Dinosaurio
1144                                         Dinosaurio
1145                                         Dinosaurio
1146                                         Dinosaurio
1147                                         Dinosaurio
1148                                         Dinosaurio
1149                                         Dinosaurio
1150                                         Dinosaurio
1151                                         Dinosaurio
1152                                         Dinosaurio
1153                                         Dinosaurio