In [ ]:
import pandas as pd
import numpy as np

# Ejercicios con Series

## Obtener Series con el consumo para ciudad y por autopista (US mpg)

In [ ]:
df1 = pd.

## Obtener el consumo medio (US mpg)

## Calcula el consumo medio de todos los vehículos. Calcula también el mayor consumo

## Ordena por la columna de consumo en orden ascendente

## Obtener el número de vehículos que aparece de cada fabricante (make)

## Obtén el top 5 y el top10 de fabricantes

## 
 - Si el fabricante está dentro del top5, muestra el nombre del fabricante
 - Si el fabricante está dentro del top10 (pero fuera del top5) -> 'T10'
 - Para el resto -> 'Fuera del top'

## Haz lo mismo que antes pero usando la función 'select' de Numpy

## Reemplaza 'Alfa Romeo' por 'A.L.F.A Romeo Automobili'

## Convierte a minúsculas el nombre de los fabricantes

## Compara el consumo de memoria de la columna 'make' como String y como Categoría

# Dataframe

## Crea un nuevo dataframe con las siguientes columnas ('year', 'make', 'model', 'city08)

## Crea una nueva columna para el consumo en ciudad en (L/100 km)
El factor de conversión de mpg a L/100km es: 235.215 para galones de EE. UU

# Filtra por los fabricantes 'Subaru' y 'Toyota'. Usa la función query para filtrar los vehículos cuyo consumo sea menor de 6L/100km

## Haz un recuento de nulos para cada columna

## Obten el máximo consumo en ciudad de cada marca por año de fabricación (Usa pivot_table)

## Obten el máximo consumo en ciudad de cada marca por año de fabricación (Usa groupby)

## Calcula el año promedio de fabricación para los vehículos de cada marca

## Aplica la función .agg() con los argumentos ['min', 'max'] para calcular el rendimiento mínimo y máximo en ciudad para los vehículos de cada marca.