In [158]:
import pandas as pd
import numpy as np

## Carga el DataFrame desde un archivo Excel

In [21]:
dfExcel = pd.read_excel("data_csv/ventas.xlsx")

print(dfExcel)

                                                rama  ind0122  ind0222  \
0                              Venta de motocicletas    80.56    55.35
1                               Venta de automóviles    89.77    95.82
2         Mantenimiento y reparación de motocicletas    59.03    87.90
3          Mantenimiento y reparación de automóviles    53.67    71.04
4  Comercio de repuestos y accesorios de motocicl...    75.44    94.13
5  Comercio de repuestos y accesorios de automóviles    69.39    97.17

   ind0322  ind0422  ind0522  ind0622  ind0722  ind0822  ind0922  ...  \
0    84.05    85.01    77.26    52.58    59.78    71.48    85.39  ...
1    91.29    90.27    97.96    85.18    94.23    50.40    71.94  ...
2    93.83    94.34    88.80    69.04    65.63    98.85    80.19  ...
3    88.39    73.73    66.80    73.58    98.14    91.62    78.36  ...
4    73.82    78.27    92.23    65.05    93.34    78.85    51.73  ...
5    80.24    80.84    98.02    94.73    86.62    71.51    75.09  ...

   ind0423  ind0523  ind0623  ind0723  ind0823  ind0923  ind1023  ind1123  \
0    50.26    95.65    91.64    97.18    62.66    58.43    55.95    75.55
1    98.76    96.10    69.02    76.97    90.55    97.92    91.59    98.47
2    85.43    62.71    59.78    70.80    96.76    57.72    92.87    72.76
3    93.72    61.79    71.90    74.79    81.53    91.99    82.51    83.65
4    66.91    67.59    72.92    97.81    75.30    70.87    64.56    95.40
5    86.19    98.37    56.37    66.62    72.26    61.57    51.41    78.05

   ind1223  ind0124
0    93.32    96.64
1    93.86    70.76
2    90.77    66.33
3    67.52    70.80
4    71.61    61.89
5    71.76    81.83

[6 rows x 26 columns]

## Utiliza df.melt() para transformar el DataFrame de un formato ancho a un formato largo. Asegúrate de mantener la columna rama como identificador, nombrar la columna de variables como "periodo" y la de valores como "facturacion".

In [53]:
df2 = dfExcel.melt(id_vars=["rama"], var_name="periodo", value_name="facturacion")
print(df2)

                                                  rama  periodo  facturacion
0                                Venta de motocicletas  ind0122        80.56
1                                 Venta de automóviles  ind0122        89.77
2           Mantenimiento y reparación de motocicletas  ind0122        59.03
3            Mantenimiento y reparación de automóviles  ind0122        53.67
4    Comercio de repuestos y accesorios de motocicl...  ind0122        75.44
..                                                 ...      ...          ...
145                               Venta de automóviles  ind0124        70.76
146         Mantenimiento y reparación de motocicletas  ind0124        66.33
147          Mantenimiento y reparación de automóviles  ind0124        70.80
148  Comercio de repuestos y accesorios de motocicl...  ind0124        61.89
149  Comercio de repuestos y accesorios de automóviles  ind0124        81.83

[150 rows x 3 columns]

## Extrae el año y mes del nombre de la columna "periodo" utilizando expresiones regulares.

In [55]:
# hacer una col. derivada y solo coger los 4 ultimos numeros, los dos primeros el mes, y los dos ultimos el anio
## para ello, primero pasamos el valor a tipo string de numpy (con .str), y después se agrega otro patrón
df2["periodo"] = df2["periodo"].str.extract(pat=r'(\d{2})') + "/" + df2["periodo"].str.extract(pat=r'(\d{2}$)')
print(df2)

                                                  rama periodo  facturacion
0                                Venta de motocicletas   01/22        80.56
1                                 Venta de automóviles   01/22        89.77
2           Mantenimiento y reparación de motocicletas   01/22        59.03
3            Mantenimiento y reparación de automóviles   01/22        53.67
4    Comercio de repuestos y accesorios de motocicl...   01/22        75.44
..                                                 ...     ...          ...
145                               Venta de automóviles   01/24        70.76
146         Mantenimiento y reparación de motocicletas   01/24        66.33
147          Mantenimiento y reparación de automóviles   01/24        70.80
148  Comercio de repuestos y accesorios de motocicl...   01/24        61.89
149  Comercio de repuestos y accesorios de automóviles   01/24        81.83

[150 rows x 3 columns]

## Convierte los valores de "periodo" a objetos datetime utilizando el formato adecuado para año y mes

In [168]:
df3 = df2.copy()
df3["periodo"] = pd.to_datetime(arg=df3["periodo"], format="%m/%y")

print(df3)

                                                  rama    periodo  facturacion
0                                Venta de motocicletas 2022-01-01        80.56
1                                 Venta de automóviles 2022-01-01        89.77
2           Mantenimiento y reparación de motocicletas 2022-01-01        59.03
3            Mantenimiento y reparación de automóviles 2022-01-01        53.67
4    Comercio de repuestos y accesorios de motocicl... 2022-01-01        75.44
..                                                 ...        ...          ...
145                               Venta de automóviles 2024-01-01        70.76
146         Mantenimiento y reparación de motocicletas 2024-01-01        66.33
147          Mantenimiento y reparación de automóviles 2024-01-01        70.80
148  Comercio de repuestos y accesorios de motocicl... 2024-01-01        61.89
149  Comercio de repuestos y accesorios de automóviles 2024-01-01        81.83

[150 rows x 3 columns]

## Calcula el último periodo de tiempo disponible en el DataFrame.
## Luego, marca los registros de los últimos tres meses como provisionales, crea una columna "provisional"

In [205]:
ultimo_periodo = df3["periodo"].max()
tres_anteriores = ultimo_periodo-pd.DateOffset(months=3)
def es_provisional(fecha):
    return "X" if fecha >= tres_anteriores else "" #escribirá "X" en cada registro 'provisional' (esté en los 3 últimos meses)

df3["provisional"] = df3["periodo"].apply(es_provisional)
print(df3)

#comprobarlo recogiendo las fechas anteriores
print(df3.query("`provisional` == 'X'"))

                                                  rama    periodo  \
0                                Venta de motocicletas 2022-01-01
1                                 Venta de automóviles 2022-01-01
2           Mantenimiento y reparación de motocicletas 2022-01-01
3            Mantenimiento y reparación de automóviles 2022-01-01
4    Comercio de repuestos y accesorios de motocicl... 2022-01-01
..                                                 ...        ...
145                               Venta de automóviles 2024-01-01
146         Mantenimiento y reparación de motocicletas 2024-01-01
147          Mantenimiento y reparación de automóviles 2024-01-01
148  Comercio de repuestos y accesorios de motocicl... 2024-01-01
149  Comercio de repuestos y accesorios de automóviles 2024-01-01

     facturacion provisional
0          80.56
1          89.77
2          59.03
3          53.67
4          75.44
..           ...         ...
145        70.76           X
146        66.33           X
147        70.80           X
148        61.89           X
149        81.83           X

[150 rows x 4 columns]
                                                  rama    periodo  \
126                              Venta de motocicletas 2023-10-01
127                               Venta de automóviles 2023-10-01
128         Mantenimiento y reparación de motocicletas 2023-10-01
129          Mantenimiento y reparación de automóviles 2023-10-01
130  Comercio de repuestos y accesorios de motocicl... 2023-10-01
131  Comercio de repuestos y accesorios de automóviles 2023-10-01
132                              Venta de motocicletas 2023-11-01
133                               Venta de automóviles 2023-11-01
134         Mantenimiento y reparación de motocicletas 2023-11-01
135          Mantenimiento y reparación de automóviles 2023-11-01
136  Comercio de repuestos y accesorios de motocicl... 2023-11-01
137  Comercio de repuestos y accesorios de automóviles 2023-11-01
138                              Venta de motocicletas 2023-12-01
139                               Venta de automóviles 2023-12-01
140         Mantenimiento y reparación de motocicletas 2023-12-01
141          Mantenimiento y reparación de automóviles 2023-12-01
142  Comercio de repuestos y accesorios de motocicl... 2023-12-01
143  Comercio de repuestos y accesorios de automóviles 2023-12-01
144                              Venta de motocicletas 2024-01-01
145                               Venta de automóviles 2024-01-01
146         Mantenimiento y reparación de motocicletas 2024-01-01
147          Mantenimiento y reparación de automóviles 2024-01-01
148  Comercio de repuestos y accesorios de motocicl... 2024-01-01
149  Comercio de repuestos y accesorios de automóviles 2024-01-01

     facturacion provisional
126        55.95           X
127        91.59           X
128        92.87           X
129        82.51           X
130        64.56           X
131        51.41           X
132        75.55           X
133        98.47           X
134        72.76           X
135        83.65           X
136        95.40           X
137        78.05           X
138        93.32           X
139        93.86           X
140        90.77           X
141        67.52           X
142        71.61           X
143        71.76           X
144        96.64           X
145        70.76           X
146        66.33           X
147        70.80           X
148        61.89           X
149        81.83           X

1. Extrae el año y el mes del periodo para su uso en cálculos futuros.
2. Configura el entorno local a "es_ES.UTF-8" para asegurar que los meses se presenten en español.
3. Formatea el campo "mes" para que el nombre del mes esté en español y con la primera letra en mayúscula.

In [233]:
#1. Extraer el año y mes por separado
df3FechaSep = df3.copy()
#Usando locale, cambiar el idioma de la zona horaria a España
import locale
locale.getlocale()
('en_US', 'UTF-8')

locale.setlocale(locale.LC_TIME, 'es_ES')

#hacer el formato de fecha adecuado; para ello usar el método 'dt' del Series tratado,
##y a su vez su método strftime para dar formato a la salida
df3FechaSep["periodo"] = df3FechaSep["periodo"].dt.strftime("%Y-%B-%d")

#Separar mes y anio a partir del guión como separador (usando métodos de alteración vectorial para string 'str')
periodoSplit = df3FechaSep["periodo"].astype("str").str.split(pat="-", expand=True)

#Agregando columnas derivadas al periodo
df3FechaSep["mes"] = periodoSplit[1].str.upper().str[0] + periodoSplit[1].str[1::] #utilizo los indices del método str[] para moverlo
                ## se podría hacer, también, usando .capitalize()
df3FechaSep["anio"] = periodoSplit[0]
print(df3FechaSep)

                                                  rama        periodo  \
0                                Venta de motocicletas  2022-enero-01
1                                 Venta de automóviles  2022-enero-01
2           Mantenimiento y reparación de motocicletas  2022-enero-01
3            Mantenimiento y reparación de automóviles  2022-enero-01
4    Comercio de repuestos y accesorios de motocicl...  2022-enero-01
..                                                 ...            ...
145                               Venta de automóviles  2024-enero-01
146         Mantenimiento y reparación de motocicletas  2024-enero-01
147          Mantenimiento y reparación de automóviles  2024-enero-01
148  Comercio de repuestos y accesorios de motocicl...  2024-enero-01
149  Comercio de repuestos y accesorios de automóviles  2024-enero-01

     facturacion provisional    mes  anio
0          80.56              Enero  2022
1          89.77              Enero  2022
2          59.03              Enero  2022
3          53.67              Enero  2022
4          75.44              Enero  2022
..           ...         ...    ...   ...
145        70.76           X  Enero  2024
146        66.33           X  Enero  2024
147        70.80           X  Enero  2024
148        61.89           X  Enero  2024
149        81.83           X  Enero  2024

[150 rows x 6 columns]

## Calcula la variación interanual e intermensual de la facturación

In [249]:
df4 = df3FechaSep.copy()
df4["anterior_valor"] = df4.groupby(by="rama")["facturacion"].shift(12, fill_value=0)
df4["variacion_interanual"] = ((df4["facturacion"]- df4["anterior_valor"]) / 100).round(3).astype("str") + "%"
print(df4)

                                                  rama        periodo  \
0                                Venta de motocicletas  2022-enero-01
1                                 Venta de automóviles  2022-enero-01
2           Mantenimiento y reparación de motocicletas  2022-enero-01
3            Mantenimiento y reparación de automóviles  2022-enero-01
4    Comercio de repuestos y accesorios de motocicl...  2022-enero-01
..                                                 ...            ...
145                               Venta de automóviles  2024-enero-01
146         Mantenimiento y reparación de motocicletas  2024-enero-01
147          Mantenimiento y reparación de automóviles  2024-enero-01
148  Comercio de repuestos y accesorios de motocicl...  2024-enero-01
149  Comercio de repuestos y accesorios de automóviles  2024-enero-01

     facturacion provisional    mes  anio  anterior_valor variacion_interanual
0          80.56              Enero  2022            0.00               0.806%
1          89.77              Enero  2022            0.00               0.898%
2          59.03              Enero  2022            0.00                0.59%
3          53.67              Enero  2022            0.00               0.537%
4          75.44              Enero  2022            0.00               0.754%
..           ...         ...    ...   ...             ...                  ...
145        70.76           X  Enero  2024           55.91               0.149%
146        66.33           X  Enero  2024           88.86              -0.225%
147        70.80           X  Enero  2024           55.44               0.154%
148        61.89           X  Enero  2024           81.19              -0.193%
149        81.83           X  Enero  2024           82.10              -0.003%

[150 rows x 8 columns]

In [297]:
df4 = df3FechaSep.copy()

#Agrupo por MES, pero recojo o bien los 12 meses anteriores (anterior año), o bien el mes anterior
df4["anterior_valor_anual"] = df4.groupby(by="mes")["facturacion"].shift(12, fill_value=0)
df4["anterior_valor_mens"] = df4.groupby(by="mes")["facturacion"].shift(1, fill_value=0)
df4["variacion_interanual"] = ((df4["facturacion"]- df4["anterior_valor_anual"]) / 100).round(3).astype("str") + "%"
df4["variacion_intermensual"] = ((df4["facturacion"]- df4["anterior_valor_mens"]) / 100).round(3).astype("str") + "%"
print(df4)

                                                  rama        periodo  \
0                                Venta de motocicletas  2022-enero-01
1                                 Venta de automóviles  2022-enero-01
2           Mantenimiento y reparación de motocicletas  2022-enero-01
3            Mantenimiento y reparación de automóviles  2022-enero-01
4    Comercio de repuestos y accesorios de motocicl...  2022-enero-01
..                                                 ...            ...
145                               Venta de automóviles  2024-enero-01
146         Mantenimiento y reparación de motocicletas  2024-enero-01
147          Mantenimiento y reparación de automóviles  2024-enero-01
148  Comercio de repuestos y accesorios de motocicl...  2024-enero-01
149  Comercio de repuestos y accesorios de automóviles  2024-enero-01

     facturacion provisional    mes  anio  anterior_valor_anual  \
0          80.56              Enero  2022                  0.00
1          89.77              Enero  2022                  0.00
2          59.03              Enero  2022                  0.00
3          53.67              Enero  2022                  0.00
4          75.44              Enero  2022                  0.00
..           ...         ...    ...   ...                   ...
145        70.76           X  Enero  2024                 89.77
146        66.33           X  Enero  2024                 59.03
147        70.80           X  Enero  2024                 53.67
148        61.89           X  Enero  2024                 75.44
149        81.83           X  Enero  2024                 69.39

     anterior_valor_mens variacion_interanual variacion_intermensual
0                   0.00               0.806%                 0.806%
1                  80.56               0.898%                 0.092%
2                  89.77                0.59%                -0.307%
3                  59.03               0.537%                -0.054%
4                  53.67               0.754%                 0.218%
..                   ...                  ...                    ...
145                96.64               -0.19%                -0.259%
146                70.76               0.073%                -0.044%
147                66.33               0.171%                 0.045%
148                70.80              -0.135%                -0.089%
149                61.89               0.124%                 0.199%

[150 rows x 10 columns]

## Calcula la media de la facturación anual y compárala con el año anterior

In [308]:
dfAnualYComp = pd.DataFrame(data={})

dfAnualYComp["anio"] = df4["anio"]
dfAnualYComp["factMedia"] = df4.groupby("anio")["facturacion"].transform("mean")
dfAnualYComp["factMediaAnterior"] = dfAnualYComp["factMedia"].shift(1)

dfAnualYComp = dfAnualYComp.drop_duplicates()
print(dfAnualYComp)

     anio  factMedia  factMediaAnterior
0    2022  78.136528                NaN
1    2022  78.136528          78.136528
72   2023  76.124028          78.136528
73   2023  76.124028          76.124028
144  2024  74.708333          76.124028
145  2024  74.708333          74.708333

## Transforma nuevamente el DataFrame a un formato largo que incluya las medidas calculadas en los pasos anteriores.

In [332]:
dfAgrupadoLargo = df4.melt(id_vars=["rama", "provisional", "anio", "mes"], value_vars=["facturacion", "variacion_interanual", "variacion_intermensual"], var_name="medidas", value_name="valor")

print(dfAgrupadoLargo)

                                                  rama provisional  anio  \
0                                Venta de motocicletas              2022
1                                 Venta de automóviles              2022
2           Mantenimiento y reparación de motocicletas              2022
3            Mantenimiento y reparación de automóviles              2022
4    Comercio de repuestos y accesorios de motocicl...              2022
..                                                 ...         ...   ...
445                               Venta de automóviles           X  2024
446         Mantenimiento y reparación de motocicletas           X  2024
447          Mantenimiento y reparación de automóviles           X  2024
448  Comercio de repuestos y accesorios de motocicl...           X  2024
449  Comercio de repuestos y accesorios de automóviles           X  2024

       mes                 medidas    valor
0    Enero             facturacion    80.56
1    Enero             facturacion    89.77
2    Enero             facturacion    59.03
3    Enero             facturacion    53.67
4    Enero             facturacion    75.44
..     ...                     ...      ...
445  Enero  variacion_intermensual  -0.259%
446  Enero  variacion_intermensual  -0.044%
447  Enero  variacion_intermensual   0.045%
448  Enero  variacion_intermensual  -0.089%
449  Enero  variacion_intermensual   0.199%

[450 rows x 6 columns]

## Renombra las columnas de medidas para que sean más descriptivas.

In [335]:
#Lo haré igual que se hace en la solución
cambio_nombre = {
    "facturacion": "Facturación (Miles de €)",
    "variacion_intermensual": "Variación intermensual (%)",
    "variacion_interanual": "Variación interanual (%)",
}
dfAgrupadoLargo.replace(cambio_nombre)

dfAgrupadoLargo

,rama,provisional,anio,mes,medidas,valor
0,Venta de motocicletas,,2022,Enero,facturacion,80.56
1,Venta de automóviles,,2022,Enero,facturacion,89.77
2,Mantenimiento y reparación de motocicletas,,2022,Enero,facturacion,59.03
3,Mantenimiento y reparación de automóviles,,2022,Enero,facturacion,53.67
4,Comercio de repuestos y accesorios de motocicl...,,2022,Enero,facturacion,75.44
...,...,...,...,...,...,...
445,Venta de automóviles,X,2024,Enero,variacion_intermensual,-0.259%
446,Mantenimiento y reparación de motocicletas,X,2024,Enero,variacion_intermensual,-0.044%
447,Mantenimiento y reparación de automóviles,X,2024,Enero,variacion_intermensual,0.045%
448,Comercio de repuestos y accesorios de motocicl...,X,2024,Enero,variacion_intermensual,-0.089%
449,Comercio de repuestos y accesorios de automóviles,X,2024,Enero,variacion_intermensual,0.199%

## Define y aplica un orden específico para las medidas utilizando una columna "orden_medida"

In [343]:
dfAgrupadoLargo["orden_medida"] = dfAgrupadoLargo["medidas"].map(arg={
    "Índice": 1,
    "Variación intermensual (%)": 2,
    "Variación interanual (%)": 3,
})
dfAgrupadoLargo

,rama,provisional,anio,mes,medidas,valor,orden_medida
0,Venta de motocicletas,,2022,Enero,facturacion,80.56,NaN
1,Venta de automóviles,,2022,Enero,facturacion,89.77,NaN
2,Mantenimiento y reparación de motocicletas,,2022,Enero,facturacion,59.03,NaN
3,Mantenimiento y reparación de automóviles,,2022,Enero,facturacion,53.67,NaN
4,Comercio de repuestos y accesorios de motocicl...,,2022,Enero,facturacion,75.44,NaN
...,...,...,...,...,...,...,...
445,Venta de automóviles,X,2024,Enero,variacion_intermensual,-0.259%,NaN
446,Mantenimiento y reparación de motocicletas,X,2024,Enero,variacion_intermensual,-0.044%,NaN
447,Mantenimiento y reparación de automóviles,X,2024,Enero,variacion_intermensual,0.045%,NaN
448,Comercio de repuestos y accesorios de motocicl...,X,2024,Enero,variacion_intermensual,-0.089%,NaN
449,Comercio de repuestos y accesorios de automóviles,X,2024,Enero,variacion_intermensual,0.199%,NaN

## Exporta el DataFrame transformado a un archivo CSV

In [349]:
import datetime as dtim

nombre_archivo = f"output_{str(dtim.datetime.now())[:10]}.csv"
dfAgrupadoLargo.to_csv(path_or_buf=nombre_archivo)