In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('../data/vehicles.csv.zip')

# Ejercicios con Series

## Obtener Series con el consumo para ciudad y por autopista (US mpg)

In [ ]:
city_mpg = df.city08

In [ ]:
highway_mpg = df.highway08

## Obtener el consumo medio (US mpg)

In [ ]:
(city_mpg + highway_mpg )/2

## Calcula el consumo medio de todos los vehículos. Calcula también el mayor consumo

In [ ]:
city_mpg.agg('mean')

## Ordena por la columna de consumo en orden ascendente

In [ ]:
city_mpg.sort_values()

## Obtener el número de vehículos que aparece de cada fabricante (make)

In [ ]:
make = df.make
make.value_counts()

## Obtén el top 5 y el top10 de fabricantes

In [ ]:
top5 = make.value_counts().index[:5]
top10 = make.value_counts().index[:10]

## 
 - Si el fabricante está dentro del top5, muestra el nombre del fabricante
 - Si el fabricante está dentro del top10 (pero fuera del top5) -> 'T10'
 - Para el resto -> 'Fuera del top'

In [ ]:
(make
.where(make.isin(top5), 'Top10 ')
.where(make.isin(top10), 'Fuera del top ')
).value_counts()

## Haz lo mismo que antes pero usando la función 'select' de Numpy

In [ ]:
pd.Series(np.select([make.isin(top5), make.isin(top10)], [make , 'Top10 '], 'Other '), index=make.index).value_counts()

## Reemplaza 'Alfa Romeo' por 'A.L.F.A Romeo Automobili'

In [ ]:
make.replace('Alfa Romeo', 'A.L.F.A Romeo Automobili')

## Convierte a minúsculas el nombre de los fabricantes

In [ ]:
make.str.lower()

## Compara el consumo de memoria de la columna 'make' como String y como Categoría

In [ ]:
make.memory_usage(deep=True)

In [ ]:
categorical_make = make.astype('category')

In [ ]:
categorical_make.memory_usage(deep=True)

# Dataframe

## Crea un nuevo dataframe con las siguientes columnas ('year', 'make', 'model', 'city08)

In [ ]:
df_s = df[['year', 'make', 'model', 'city08', 'drive']]

In [ ]:
df_s.describe()

## Crea una nueva columna para el consumo en ciudad en (L/100 km)
El factor de conversión de mpg a L/100km es: 235.215 para galones de EE. UU

In [ ]:
df_s['city08_km'] = 235.215 / df['city08']

# Filtra por los fabricantes 'Subaru' y 'Toyota'. Usa la función query para filtrar los vehículos cuyo consumo sea menor de 6L/100km

In [ ]:
makes = ['Subaru', 'Toyota']
(df_s.query("make.isin(@makes) and city08_km < 6"))

## Haz un recuento de nulos para cada columna

In [ ]:
(df_s
 .isna()
 .sum()
)

## Obten el máximo consumo en ciudad de cada marca por año de fabricación (Usa pivot_table)

In [ ]:
(df_s.pivot_table(aggfunc="max",
    index="year",
    columns="make",
    values="city08_km")
)

## Obten el máximo consumo en ciudad de cada marca por año de fabricación (Usa groupby)

In [ ]:
(df_s.groupby(['year', 'make'])
 .city08_km
 .max()
 .unstack())

## Calcula el año promedio de fabricación para los vehículos de cada marca

In [ ]:
(df_s
.groupby("make")
.year
.mean())

## Aplica la función .agg() con los argumentos ['min', 'max'] para calcular el rendimiento mínimo y máximo en ciudad para los vehículos de cada marca.

In [ ]:
(df_s
.groupby("make")
.city08_km
.agg(['min', 'max']))